# 2. Python typecasting
- cast from all data type to one data type
- Typecasting can't be done from complex and text string to int and float
- bool can't typecast the complex but it can typecast the string but only to true and only 1 parameter not more than 1
- in bool if the function is empty it takes it as false. if anything apart from 0 it takes as true 
- we cannot give more than 1 aurgument in the function apart from complex.
- in complex 2 parameters are allowed as real and imajinary part, it cant allow more than 2 
- in complex number string is allowed but text string is not allowed
- complex takes only 1 parameter in number string it doesn't take more than 1
- we can typecast the other datatype to string.

In [2]:
int(100.3) #covert float to int

100

In [7]:
int(True) #covert boolen to int

1

In [4]:
int(False)

0

In [6]:
int(10+20j) #complex to int is not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [8]:
int(100.3,200.3) #in typecasting only one aurgument is done not more than 1.

TypeError: 'float' object cannot be interpreted as an integer

In [9]:
int('10')

10

In [11]:
int('ten') #when string is in text it cannot be passed

ValueError: invalid literal for int() with base 10: 'ten'

In [12]:
# cast other data type to float

In [13]:
float(25) #int to float

25.0

In [14]:
float(True) #bool to float

1.0

In [15]:
float(False) #bool to float

0.0

In [16]:
float(10+20j) #complex to float is not allowed

TypeError: float() argument must be a string or a real number, not 'complex'

In [17]:
float('8.0') #string with number to float is allowed

8.0

In [27]:
# cast other data type to bool

In [19]:
bool(1) #int to bool is allowed

True

In [18]:
float('eight') #string with text to float is not allowed

ValueError: could not convert string to float: 'eight'

In [20]:
bool(0) #int to bool is allowed

False

In [21]:
bool(8,10j) #complex to bool is not allowed

TypeError: bool expected at most 1 argument, got 2

In [22]:
bool('10') #string number to bool is allowed but it only converts to true

True

In [49]:
bool()

False

In [50]:
bool(10+20j)

True

In [23]:
bool('100') #string number to bool is allowed but it only converts to true

True

In [24]:
bool('ten') #string text to bool is allowed but it only converts to true

True

In [26]:
bool('eight') #string text to bool is allowed but it only converts to true

True

In [41]:
bool('10','20')

TypeError: bool expected at most 1 argument, got 2

In [28]:
# cast other data type to complex

In [29]:
complex(8) #int to complex

(8+0j)

In [31]:
complex(8,10) # here in complex 2 parameters are allowed

(8+10j)

In [32]:
complex(8,10,12)

TypeError: complex() takes at most 2 arguments (3 given)

In [33]:
complex(5.2) #float to complex

(5.2+0j)

In [34]:
complex(5.2, 2.2) #float to complex with 2 parameters

(5.2+2.2j)

In [35]:
complex(True) #bool to complex

(1+0j)

In [36]:
complex(False) #bool to complex

0j

In [37]:
complex('10') #number string is allowed

(10+0j)

In [38]:
complex('ten') #text string to complex is not allowed

ValueError: complex() arg is a malformed string

In [39]:
complex('20','10') #2 parameters of num string is not allowed to convert it to complex

TypeError: complex() can't take second arg if first is a string

In [40]:
complex('10',5) #2 parameters of num string is not allowed to convert it to complex

TypeError: complex() can't take second arg if first is a string

In [42]:
# cast other data type to string

In [43]:
str(2) #int to string

'2'

In [44]:
str(2.5) #float to string

'2.5'

In [45]:
str(True) #bool to string

'True'

In [46]:
str('False') #bool to string

'False'

In [47]:
str(10+20j) #complex to string

'(10+20j)'

In [48]:
str(True, False) #2 parameters can't be converted to string

TypeError: str() argument 'encoding' must be str, not bool

# 3. print() function 
- print is used for answers
- it can print multiple parameters or aurguments.
- we can use variable as an aurgument in print function
-

In [52]:
print(10) #1 arg
print(10, 20) #2 arg
print('hello') #string arg
print(10, 20, 'srushti') #multiple arg

10
10 20
hello
10 20 srushti

In [53]:
num1 = 10
num2 = 20 #or num1, num2= 10, 20
add=num1+num2
print(add)

30

In [54]:
#print result with string

In [57]:
print('The addition of', num1, 'and', num2 ,'=', add)

The addition of 10 and 20 = 30

In [59]:
name='Srushti'
age = 29
city = 'Florida'
print('my name is', name, 'i am', age, 'years old','i stay in',city)

my name is Srushti i am 29 years old i stay in Florida

In [71]:
#print format method
#Variables are not in {} but we define {} for the variable

In [61]:
num1, num2=10, 20
add = num1 + num2
print('the addition of {} and {} is= {}'.format(num1,num2,add))
#number of variables = number of flower bracer

the addition of 10 and 20 is= 30

In [62]:
num1, num2, num3=10,20,30
add=num1+num2+num3
print('the addition of {} and {} and {} is = {}'.format(num1,num2,num3,add))

the addition of 10 and 20 and 30 is = 60

In [78]:
#here var is euqal to braces 
name= 'Srushti'
age = 29
city = 'Florida'
work = 'AI Engineer'
print('Hi, my name is {} and i am {} years old currently living in {} and i am an {}, thankyou'.format(name, age, city, work))

Hi, my name is Srushti and i am 29 years old currently living in Florida and i am an AI Engineer, thankyou

In [68]:
num1 = 10
num2 = 20
num3 = 30
avg=(num1+num2+num3)/3
print('the average of {},{} and {} is = {})'.format(num1,num2,num3,avg))

the average of 10,20 and 30 is = 20.0)

In [69]:
#f - string
#variables should be in curly braces {var}

In [73]:
num1 = 10
num2 = 20
add=num1+num2
print(add)

30

In [75]:
num1 , num2= 10, 20
add=num1+num2
print(f'the addition of {num1} and {num2} is = {add}') # variables are in curly braces #f difines f string method for print

the addition of 10 and 20 is = 30

In [77]:
# var is within braces in f string
name= 'Srushti'
age = 29
city = 'Florida'
work = 'AI Engineer'
print(f'Hi, my name is {name} and i am {age} years old currently living in {city} and i am an {work}, thankyou')

Hi, my name is Srushti and i am 29 years old currently living in Florida and i am an AI Engineer, thankyou

In [79]:
#end statement
#here we will use end statement that join line from end of one string to starting of other string

In [81]:
print('hello')
print('good morning') # here the statement is not in 1 line to get them in one line we use end

hello
good morning

In [82]:
print('hello', end='') #1st statement 
print('good morning') #2nd statement

hellogood morning

In [83]:
print('*')
print('***', end='-') #end the line here 
print('****')

*
***-****

In [84]:
#seprator 
#when we want to seperate the values we use this

In [85]:
print('hi', 'hello', 'how are you?', sep='--->')

hi--->hello--->how are you?

In [86]:
print('hi', 'hello', 'how are you?', sep='-*-')

hi-*-hello-*-how are you?

In [95]:
print(1,end='-')
print(2,end='-')
print(3,sep='')

1-2-3

In [96]:
print('hello',end='', 'hi',end='') #not possible

SyntaxError: positional argument follows keyword argument (4198511104.py, line 1)