# list

In [1]:
l = [] #list is empty
l

[]

In [2]:
l1 = [10,20,30] #list with integers 
l1

[10, 20, 30]

In [3]:
l2 = [3.2, 4.5, 6.7, 8.9] #list with float 
l2

[3.2, 4.5, 6.7, 8.9]

In [4]:
l3 = ['one','two','three'] #list with strings
l3

['one', 'two', 'three']

In [5]:
l4 = ['Srushti', 65, [50,60],[70,80]] #nested list 
l4

['Srushti', 65, [50, 60], [70, 80]]

In [6]:
l5 = [125, 'Srushti', 23.5] #mixed data types 
l5

[125, 'Srushti', 23.5]

In [7]:
l6 = [135, 'Thakur', [6.2,8.5], [150,90], ['mona','srushti']]
l6

[135, 'Thakur', [6.2, 8.5], [150, 90], ['mona', 'srushti']]

In [8]:
len(l6)

5

In [9]:
l6[0] #retreving 1st arg from the list

135

In [10]:
l4[1] #retreving 2nd arg from the list

65

In [11]:
l4[0][0] # nest indexing - access the first character of  the first arg

'S'

In [12]:
l4[-1] #last item of the list

[70, 80]

In [13]:
l2[-1] #last item of the list

8.9

# List Slicing

In [14]:
mylist = ['Srushti','thakur','uday','kshatriya','mona','florida','usa']
mylist

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa']

In [15]:
mylist[0:3] #print all the items from 0 to 2 leaving away 3rd index

['Srushti', 'thakur', 'uday']

In [16]:
mylist[2:6] #list all the item from 2nd index to 5th index leaving 6th index

['uday', 'kshatriya', 'mona', 'florida']

In [17]:
mylist[:3] # print all the elements before 3 index leaving 3rd index

['Srushti', 'thakur', 'uday']

In [18]:
mylist[3:] #print all the elements after 3 index including 3rd index

['kshatriya', 'mona', 'florida', 'usa']

In [19]:
mylist[:-3] #backward slicing print all the elements upto -3 excludes -3

['Srushti', 'thakur', 'uday', 'kshatriya']

In [20]:
mylist[-3:] #backward slicing print all the elements from -3 includes -3

['mona', 'florida', 'usa']

In [21]:
mylist[-2:] #return last 2 items

['florida', 'usa']

In [22]:
mylist[-1:] #return last 1 item

['usa']

In [23]:
mylist[:] #print all items from the list

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa']

# Add remove and change items

In [24]:
mylist

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa']

In [25]:
mylist.append('hello') #add hello at the end of the list 
mylist

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa', 'hello']

In [26]:
mylist.insert(7,'hi') #inserted hi at 7th index 
mylist

['Srushti',
 'thakur',
 'uday',
 'kshatriya',
 'mona',
 'florida',
 'usa',
 'hi',
 'hello']

In [27]:
mylist.insert(0,'mrs') #inserted mrs at 0 index
mylist

['mrs',
 'Srushti',
 'thakur',
 'uday',
 'kshatriya',
 'mona',
 'florida',
 'usa',
 'hi',
 'hello']

In [31]:
mylist

['Srushti',
 'thakur',
 'uday',
 'kshatriya',
 'mona',
 'florida',
 'usa',
 'hi',
 'hello']

In [32]:
mylist.remove('hi') #hi is removed from the list 
mylist

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa', 'hello']

In [33]:
mylist.pop() #as it is empty the last element in the list will be removed

'hello'

In [37]:
del mylist[5] #5th index florida is deleted 
mylist

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona']

In [38]:
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3 #change the listed elements in the list 
mylist

[1, 2, 3, 'kshatriya', 'mona']

In [39]:
mylist.clear() #clear or delete all the elements in the list 
mylist

[]

In [40]:
del mylist #completely delete the entire list even the function 
mylist

NameError: name 'mylist' is not defined

# copy the list

In [41]:
mylist = ['Srushti','thakur','uday','kshatriya','mona','florida','usa']

In [45]:
mylist1 = mylist # copied list from mylist

In [46]:
id(mylist), id(mylist1) #the address of the two list will be the same

(1865686305536, 1865686305536)

In [47]:
mylist2=mylist.copy() # Create a copy of the list
mylist2

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa']

In [48]:
id(mylist), id(mylist2) #the address of two list are different when use copy

(1865686305536, 1865686286016)

In [49]:
mylist[0] = 'Srush' #only the mylists arg will be changed
mylist

['Srush', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa']

In [50]:
mylist2 #mylist2 hasn't been changed

['Srushti', 'thakur', 'uday', 'kshatriya', 'mona', 'florida', 'usa']

# Join Lists

In [51]:
l1 = ['hi','my','name','is','Srushti']
l2 = ['i','live','in','florida','usa']

In [52]:
l3 = l1 + l2  #joins 2 lists by operator +
l3

['hi', 'my', 'name', 'is', 'Srushti', 'i', 'live', 'in', 'florida', 'usa']

In [54]:
l1.extend(l2) # merges l1 and l2
l1

['hi',
 'my',
 'name',
 'is',
 'Srushti',
 'i',
 'live',
 'in',
 'florida',
 'usa',
 'i',
 'live',
 'in',
 'florida',
 'usa']

# List Membership

In [55]:
l1

['hi',
 'my',
 'name',
 'is',
 'Srushti',
 'i',
 'live',
 'in',
 'florida',
 'usa',
 'i',
 'live',
 'in',
 'florida',
 'usa']

In [56]:
'Srushti' in l1 #Srushti is present in  the list

True

In [57]:
'one' in l1 #one is not present in the list

False

In [61]:
if 'live' in l1: #check if live is in the list 
    print('live is in the list of l1')
else: 
    print('live is not in the list of l1')

live is in the list of l1

if 'Three' in l1: #check if three is in the list 
    print('Three is in the list')
else:
    print('three is not in the list')

# Reverse & Sort List

In [64]:
l1

['hi',
 'my',
 'name',
 'is',
 'Srushti',
 'i',
 'live',
 'in',
 'florida',
 'usa',
 'i',
 'live',
 'in',
 'florida',
 'usa']

In [65]:
l1.reverse() #reverse the entire list 
l1

['usa',
 'florida',
 'in',
 'live',
 'i',
 'usa',
 'florida',
 'in',
 'live',
 'i',
 'Srushti',
 'is',
 'name',
 'my',
 'hi']

In [67]:
l1=l1[::-1] #also reverse the entire list 
l1

['hi',
 'my',
 'name',
 'is',
 'Srushti',
 'i',
 'live',
 'in',
 'florida',
 'usa',
 'i',
 'live',
 'in',
 'florida',
 'usa']

In [68]:
l2 = [50,90,10,20,80,30] #sort the list in acending order it must have same data type 
l2.sort()
l2

[10, 20, 30, 50, 80, 90]

In [71]:
l2.sort(reverse = True) #sort the list in decending order

In [72]:
l2

[90, 80, 50, 30, 20, 10]

In [73]:
l3 = [50,20,80,60,70] #returns a new sorted list but doesn't change the original one 
sorted(l3)

[20, 50, 60, 70, 80]

In [74]:
l3 #orginal wil be displayed

[50, 20, 80, 60, 70]

# Loop through a list

In [75]:
l1

['hi',
 'my',
 'name',
 'is',
 'Srushti',
 'i',
 'live',
 'in',
 'florida',
 'usa',
 'i',
 'live',
 'in',
 'florida',
 'usa']

In [76]:
for i in l1:
    print(i)

hi
my
name
is
Srushti
i
live
in
florida
usa
i
live
in
florida
usa

In [77]:
for i in enumerate(l1):  #get both the index (position) and the value from a list at the same time
    print(i)

(0, 'hi')
(1, 'my')
(2, 'name')
(3, 'is')
(4, 'Srushti')
(5, 'i')
(6, 'live')
(7, 'in')
(8, 'florida')
(9, 'usa')
(10, 'i')
(11, 'live')
(12, 'in')
(13, 'florida')
(14, 'usa')

# count

In [78]:
list1 = [5,8,6,5,5,3,5,4,2,5,5,4]

In [79]:
list1.count(5) #counts all the 5 in the list and display it

6

In [80]:
list1.count(4) #count all the 4 from the list and display it

2

In [82]:
list1.count(8) #count all the 8 from the list and display it

1

# All / Any
- the all() method returns : true if all the elements in the list is true ( not 0 )
- the all() method returns : false if any of the element in the list is false (includes 0)
- the any() function returns true if any element in the list is true if not any() returns false

In [85]:
l1 = [1,2,3,4,0]
l1

[1, 2, 3, 4, 0]

In [87]:
all(l1) #the list has 0 in it so it shows false

False

In [88]:
any(l1) #will print true because we have other items which are true in value

True

In [89]:
l2 = [1,2,3,4,5,True,False]

In [91]:
all(l2) #the list has false in it so it shows false

False

In [92]:
any(l2) #will print true because we have other items which are true in value

True

In [93]:
l3 = [1,2,3,4,5,True]

In [94]:
all(l3) #return as true because all the values in the list are true

True

In [95]:
any(l3) #return as true because all the values in the list are true

True

# tuple

In [96]:
t = ()

In [98]:
t1 = (30,40,50,60) #tuple of integer

In [99]:
t2 = (10,20,3.5,4.6,48) #tuple of float

In [100]:
t3 = ('hi','hello','hey') #tuple of string

In [101]:
t4 = (10,30,'Srushti',(2.2,5.9),(8.5,'Thakur')) #nested tuple

In [102]:
t5 = ('Uday', 50, 6.8) # mixed data type

In [104]:
t6 = ('kshatriya',2.5,('sai','krishna'),(4,9),(2.3,5.8)) #mixed and nested

In [105]:
len(t6)

5

# tuple indexing

In [106]:
t2[0] #display 1st arg in the tuple

10

In [108]:
t5[0] #display 1st arg of the tuple

'Uday'

In [109]:
t6[0][0] #display first character of the first arg

'k'

In [110]:
t4[-1] #backward indexing last item will be displayed

(8.5, 'Thakur')

In [111]:
t1[-1] #backward indexing last item will be displayed

60

# tuple Slicing

In [112]:
mytuple=(5,6,8,7,3,4,2)

In [113]:
mytuple[0:3] #print all the items from 0 to 2 leaving away 3rd index

(5, 6, 8)

In [114]:
mytuple[2:5] #print all the items from 2 to 5 leaving away 3rd index

(8, 7, 3)

In [119]:
mytuple[:-3] #print all the items after -3 exculding it (backward slicing)

(5, 6, 8, 7)

In [129]:
mytuple[-3:] # print all the items before -3 including it

NameError: name 'mytuple' is not defined

In [130]:
mytuple[:-2] #print all the items after -2 exculding it (backward slicing)

NameError: name 'mytuple' is not defined

In [131]:
mytuple[-1:] # print all the items before -1 including it

NameError: name 'mytuple' is not defined

# remove & chnage items

In [132]:
del mytuple[0] #tuples are immutable which means can't deleted the element

NameError: name 'mytuple' is not defined

In [133]:
mytuple[0]= 1 # tuple is immutable hence it cant be changed too.

NameError: name 'mytuple' is not defined

In [134]:
del mytuple #entire tuple can be deleted

NameError: name 'mytuple' is not defined

# loope through a tuple

In [135]:
t1

(30, 40, 50, 60)

In [148]:
for i in t1: #print t1 using for statement
    print(i)

30
40
50
60

In [137]:
for i in enumerate(t1):
    print(i)

(0, 30)
(1, 40)
(2, 50)
(3, 60)

In [138]:
t4

(10, 30, 'Srushti', (2.2, 5.9), (8.5, 'Thakur'))

In [144]:
if 'Thakur' in t4: #check if thakur is present in t4 using if else 
    print('Thakur is present in t4')
else:
    print('Thakur is not in t4')

Thakur is not in t4

In [149]:
if 10 in t4: #check if 10 is present using if else 
    print('10 is in t4')
else: 
    print('10 is not in t4')

10 is in t4

# index position

In [150]:
t5

('Uday', 50, 6.8)

In [151]:
t6

('kshatriya', 2.5, ('sai', 'krishna'), (4, 9), (2.3, 5.8))

In [153]:
t6.index(2.5) #index of the value 2.5 is 1

1

In [156]:
t6.count(5.8) #we have (2.3,5.8) but not alone 5.8

0

In [157]:
t6.index('kshatriya')

0

# sorting

In [158]:
mytuple = (80,60,10,70,50,20,90)

In [159]:
sorted(mytuple) #sort them only for time being and when you call the orginal tuple it gets back to the same tuple

[10, 20, 50, 60, 70, 80, 90]

In [160]:
mytuple #it came back to the same tuple

(80, 60, 10, 70, 50, 20, 90)

In [162]:
mytuple.sort() #sorting the tuple is not possible as its immutable

AttributeError: 'tuple' object has no attribute 'sort'